<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/resources :: head('Pizza List')"></head>
<body>
<h1>Pizza List </h1>
<table>

    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="pizza: ${pizzaList}">
        <td th:text="${pizza.name}"></td>
        <td th:text="${pizza.price}"></td>
        <td><a th:href="@{/pizzas/show/{name}(name=${pizza.name})}"> Detail</a></td>
    </tr>
    </tbody>
</table>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>
