.img{
width:150px;}
.img2{
width:500px;}
.margine{
    margin-top: 35px;
}
.button-custom {
    width: 100px; /* larghezza desiderata */
    height: 40px; /* altezza desiderata */
    padding: 8px 12px; /* padding per il testo */
}
.btn-danger {
    width: 100px; /* larghezza desiderata */
    height: 40px; /* altezza desiderata */
    padding: 8px 12px; /* padding per il testo */
}
.align-center {
    align-items: center;
}
